<nav>
    <div class="dashboard disable-select">
        <div class="site-heading profile-board-col">
           <h4 class="medium"><a href="/">{{site.title}}</a></h4>
        </div>
        <div class="userboard profile-board-col">
            <div class="username">
                <p class="title-sans"><a href="/" style="text-decoration: none;">{{site.name}}</a></p>
            </div>
            <div class="userdesc">
                <p class="title-sans">{{site.user_description}}</p>
            </div>
        </div>
    </div>
    <div class="avatar disable-select" title="click me to know more">
        <a class="avatar-link" href="/">
            <img src="/assets/img/profile.png" class="avatar-img" alt="avatar"/>
        </a>
    </div>
    <div class="main-site-subheader menu disable-select">
		{% for item in site.data.navigation %}
        <div class="{{ item.clasd }}">
			<a style="text-decoration: none;" href="{{ item.link }}">
			<p class="{{ item.clasz }}">{{ item.name }}</p>
			</a>
        </div>
		{% endfor %}
    </div>
</nav>